html{
    height: 100%;
}
h1{
    margin:1cm 1cm 0.5cm 0.2cm;
      background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -moz-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -ms-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -o-linear-gradient(top, #ffffff, #c6a08a);
  background-image: linear-gradient(to bottom, #ffffff, #c6a08a);
  width: 70%;
      -webkit-box-shadow: 5px -4px 14px -2px rgba(0,0,0,0.91);
    -moz-box-shadow: 5px -4px 14px -2px rgba(0,0,0,0.91);
    box-shadow: 5px -4px 14px -2px rgba(0,0,0,0.91);   
}
body{
    width: 40%;
    background-color: #C36E3C;
}
textarea{
    margin: 0cm 0cm 0.5cm 0;
    height: 2cm;
    width: 100%;
    background: #c6a08a;
  background-image: -webkit-linear-gradient(#c6a08a, #c6a08a);
  background-image: -moz-linear-gradient(#c6a08a, #c6a08a);
  background-image: -o-linear-gradient(#c6a08a, #c6a08a);
  background-image: linear-gradient(#c6a08a, #c6a08a);
  
}
label{
    margin: 0cm 0cm 0cm 0;
    font-size: 20px;
      background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -moz-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -ms-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -o-linear-gradient(top, #ffffff, #c6a08a);
  background-image: linear-gradient(to bottom, #ffffff, #c6a08a);
}
option{
    margin: 0cm 0cm 1cm 0;
}
select{
    margin: 0cm 0cm 1cm 0;
    background: #c6a08a;
  background-image: -webkit-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -moz-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -ms-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -o-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: linear-gradient(to bottom, #c6a08a, #c6a08a);
  width: 150px;
  font-size: 20px;
}
input{
    margin: 0cm 0cm 1cm 0;
    background: #c6a08a;
  background-image: -webkit-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -moz-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -ms-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -o-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: linear-gradient(to bottom, #c6a08a, #c6a08a);
   width: 120px;
}
#table-body{
    padding: 1cm 1cm 1cm 1cm;
    width: 50%;
    height: 50%;
    background-color: grey;  
        color: black;
    -webkit-box-shadow: 5px -4px 14px -2px rgba(0,0,0,0.91);
    -moz-box-shadow: 5px -4px 14px -2px rgba(0,0,0,0.91);
    box-shadow: 5px -4px 14px -2px rgba(0,0,0,0.91);   
}
.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -moz-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -ms-linear-gradient(top, #ffffff, #c6a08a);
  background-image: -o-linear-gradient(top, #ffffff, #c6a08a);
  background-image: linear-gradient(to bottom, #ffffff, #c6a08a);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: black;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 1cm 2cm 0cm 0;

}

.btn:hover {
  background: #c6a08a;
  background-image: -webkit-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -moz-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -ms-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: -o-linear-gradient(top, #c6a08a, #c6a08a);
  background-image: linear-gradient(to bottom, #c6a08a, #c6a08a);
  text-decoration: none;
}